/* reset browser styles */
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* end reset browser styles */
body{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	background-color: #f6f8fa;
}

/*去除默认样式*/
a{
    text-decoration: none;
}

/*顶部导航栏样式*/
header{
	background-color: #24292e;
	display: flex;
	height: 63px;
	width: 100%;
	padding: 10px;
	padding: 15px;
	/*z-index: 1;*/
}
.headleft{
	display: flex;
	margin-right: auto;
}
.headright{
	display: flex;
	align-items: center;
}

/*svg GitHub logo*/
.logolink .kiwi{
	stroke:none;
	fill-rule:evenodd;
	fill:rgb(100%,100%,100%);
	fill-opacity:1;
}
.logolink:hover .kiwi{
	fill:rgb(80%,80%,80%);
}
.logolink{
	margin-right: 8px;
}

/*顶部搜索框*/
.topsearch{
	background-color: hsla(0,0%,100%,.125);
	width: 300px;
	height: 85%;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	padding: 4px 6px;
	/*属性横向居中？*/
	align-self: center;
	margin-left: 8px;
}
input[type="search"]{
	background-color: transparent;
	border: none;
	outline: none;
	width: 288px;
	
}
/*去掉输入框默认的×*/
input[type="search"]::-webkit-search-cancel-button{
	-webkit-appearance: none;
}

/*顶部导航菜单*/
.navtop{
	display: flex;
	padding: 3px;
	align-self: center;
	margin-left: 12px;
}
.navtop a{
	color: #ffffff;
	font-size: 0.9em;
	font-weight: 600;
}
.navtop a:hover{
	color: rgb(80%,80%,80%);
}
.navtop li{
	margin-right: 15px;
}

/*顶部右侧菜单*/
.notif{
	margin-right: 14px;
	
}
.rightsvg{
	fill: #ffffff;
}
.rightsvg:hover{
	fill: rgb(80%,80%,80%);
}

.avatar{
	height: 20px;
	width: 20px;
	border-radius: 2px;
	border: 1px;
}
.tribottom{
	height: 0px;
	width: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffffff;
}
.repomenu:hover .tribottom,.selfinfo:hover .tribottom{
	border-top: 5px solid rgb(80%,80%,80%);
}
.repomenu:hover .rightsvg{
	fill: rgb(80%,80%,80%);
}
.repomenu{
	margin-right: 14px;
	display: flex;
	position: relative;
}
.selfinfo{
	display: flex;
	position: relative;
}
span.tribottom{
	align-self: center;
	margin-left: 4px;
	margin-top: 2px;
}
.repochoice{
	flex-flow: column;
	align-content: center;
	position: absolute;
	top: 25px;
	right: 0px;
	border-radius: 4px;
	background-color: #ffffff;
	/*border: 1px solid #c6cbd1;*/
	box-shadow: 0 1px 15px rgba(27,31,35,.15);
	width: 155px;
	padding: 5px 0;
}
.repochoice a{
	color: #24292e;
	font-weight: 400;
	font-size: 14px;
}
.repochoice li{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	line-height: 1.5;
}
.repochoice li:first-child{
	padding-top: 0px;
}
.repochoice li:hover{
	background-color: #0366d6;
	
}
.repochoice li:hover a{
	color: #fff;
}
.repomenu div{
	position: relative;
	display: none;
}
.repomenu div::before{
	position: absolute;
	top: 17px;
	right: 5px;
	content: " ";
	height: 0px;
	width: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #ffffff;
}

/*头像点击下拉菜单*/
#avatarmenu::before{
	position: absolute;
	top: 27px;
	right: 10px;
	content: " ";
	height: 0px;
	width: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffffff;
}
#avatarmenu{
	display: none;
}
.menuavatar{
	flex-flow: column;
	align-content: center;
	position: absolute;
	top: 35px;
	right: 0px;
	border-radius: 4px;
	background-color: #ffffff;
	/*border: 1px solid #c6cbd1;*/
	box-shadow: 0 1px 15px rgba(27,31,35,.15);
	width: 175px;
	padding: 5px 0;
	font-size: 14px;
}
.menuo{
	border-bottom: 1px solid #d1d5da;
	display: flex;
	flex-flow: column;
	padding-left: 15px;
	padding-bottom: 10px;
}
.menuo div:last-child{
	font-weight: 600;
	margin-top: 5px;
}
.menut{
	color: #24292e;
	border: 1px solid #d1d5da;
	font-size: 12px;
	padding: 5px 10px;
	margin: 10px 15px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.menut .menuto{
	fill: #24292e;
}
.menut:hover .menuto{
	fill: #0366d6;
}
.menut span{
	display: inline-block;
	margin-left: 15px;
}
.menutr{
	border-top: 1px solid #d1d5da;
	border-bottom: 1px solid #d1d5da;
	display: flex;
	flex-flow: column;
	padding: 6px 0;
}
.menutr a,.menuf a{
	display: inline-block;
	color: #24292e;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 15px;
	line-height: 1.5;
}
.menutr a:hover,.menuf a:hover{
	background-color: #0366d6;
	color: #fff;
}
.menuf{
	display: flex;
	flex-flow: column;
	padding: 6px 0;
	padding-bottom: 0;
}

/*左侧边栏*/
.leftaside{
	position: sticky;
	top: 0;
	padding: 25px;
	padding-top: 30px;
	padding-right: 0;
	height: auto;
	background-color: #fff;
	width: 320px;
	
}

/*上半部分*/
.selfrepo{
	display: flex;
	flex-flow: column;
	border-bottom: 1px solid #DEE4FE;
	/*height: 300px;*/
}

.repotop{
	display: flex;
	justify-content: space-between;
	margin-bottom: 9px;
}
.repotop span{
	font-size: 14px;
	font-weight: 600;
	align-self: center;
}

.newbutton{
	border-radius: 4px;
	background-color: #28a745;
	width: 63px;
	height: 28px;
	box-sizing: border-box;
	border: 1px solid transparent;
	padding-left: 2px;
	background-image:linear-gradient(-180deg,#34d058,#28a745 90%);
}
.newbutton a{
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-left: 8px;
	box-sizing: border-box;
}
.newbutton span{
	color: #fff!important;
	margin-left: 4px;
	font-size: 12px;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 5px;
}
.newbutton path{
	fill: #fff!important;
}
.newbutton:hover {
	border:  1px solid #0366d6;
	background-color: #28a745;
	background-image: (-180deg,#34d058,#28a745 90%);
	border: 1px solid rgba(27,31,35,.2);
}
/*搜索框*/
.reposearch{
	width: auto;
	height: 30px;
	border: 1px solid #d1d5da;
	font-size: 14px;
	color: #d1d5da;
	margin-bottom: 0px;
	border-radius: 3px;
	padding: 5px;
	font-weight: lighter;
	box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}
.reposearch:focus{
	/*box-shadow: 0 0 2px 1px blue;*/
	box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}
/*仓库列表*/
.repolists,.repolists li{
	width: auto;
	margin-left: 0;
	padding-left: 0;
	
}
.repolists{
	margin-top: 10px;
}
.repolists li{
	padding-top: 10px;
}
.ulone{
	margin-top: 12px;
}
.repolists > li:last-child{
	padding-bottom: 25px;
}
.repolists a{
	display: flex;
	
}
.repolists span{
	color: #0366d6;
	font-size: 14px;
	font-weight: 600;
}
.repolists svg{
	margin-right: 6px;
}
.repolistsvg{
	fill: #58607C;
}
.repolists li:hover span{
	/*border-bottom: 1px solid blue;*/
	
	text-decoration: underline solid #0366d6;
}
/*列表上悬浮显示的信息*/
.repocontent{
	border: 1px solid #DEE4FE;
	background-color: #fff;
	padding: 15px;
	position: absolute;
	top: -78px;
	left: 90px;
	display: none;
}
.repolists div.ulone:hover .repocontent{
	display: block;
}
.repocontent:hover{
	display: block;
}
.repolists > div{
	position: relative;
}
/*有点厉害，两个三角形叠加构造白色背景下白色三角形的有色1px的边界                              */
/*延迟消失√并不--》调整边距*/
.repocontent::before{
	position: absolute;
	top: 72px;
	left: 14px;
	content: " ";
	height: 0px;
	width: 0px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid rgba(27,31,35,.15);
	/*box-shadow: 0 1px 15px rgba(27,31,35,.15);*/
}
.repocontent::after{
	position: absolute;
	top: 72px;
	left: 15px;
	content: " ";
	height: 0px;
	width: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
}
.contone{
	display: flex;
	margin-bottom: 10px;
	margin-right: 65px;
}
.contone a{
	color: #000000;
	font-size: 14px;
	font-weight: 600;
}
.contone a:hover{
	color: #0366d6;
}
.conttwo{
	display: flex;
	font-size: 12px;
	color: #6a737d;
}
.conttwo .hticon{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #e34c26;
	margin-right: 3px;
}
.conttwo .langicon{
	margin-right: 20px;
}

/*下半边ads*/
.ads{
	display: flex;
	flex-flow: column;
}
.ads p{
	margin-top: 20px;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
}
.ads span{
	margin-bottom: 10px;
}
.ads .adsbutton{
	border: 1px solid #d1d5da;
	border-radius: 3px;
	width: 50%;
	
	font-size: 13px;
	font-weight: 600;
	padding: 5px;
}
.adsbutton span{
	color: #0366d6;
}
.ads a:hover span{
	color: #ffffff;
}
.ads a:hover{
	background-color: #0366d6;
}

/*右侧边栏*/
.rightaside{
	margin-top: 30px;
	float: right;
	width: 350px;
	display: flex;
	flex-flow: column;
	align-content: flex-start;
}
.righttitle{
	font-size: 14px;
	font-weight: 600;
}
.explorelist{
	font-size: 12px;
}
ul,li{
	margin-left: 0;
	padding-left: 0;
}
.explorelist li{
	margin-top: 20px;
	border-bottom: 1px solid #d1d5da;
	padding-bottom: 10px;
}
.explorelist li:last-child{
	margin-top: 20px;
	border-bottom: none;
	padding-bottom: 10px;
}
.repotitle{
	margin-bottom: 5px;
	display: inline-block;
}
.repotitle a{
	color: #000000;
	font-size: 13px;
	font-weight: 600;
}
.repotitle:hover a{
	color: #0366d6;
}
.repodescription{
	font-size: 12px;
	color: #586069!important;
}
.repoicon {
	margin-top: 15px;
	display: flex;
}
.stars{
	display: flex;
	margin-left: 5px;
	align-items: center;
}
.stars svg{
	margin-right: 3px;
}
.jsicon{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #f1e05a;
}
.javaicon{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #b07219;
}
.shellicon{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #89e051;
}
.fillcolor{
	fill: #586069!important;
}

.exploremore{
	font-size: 12px;
	margin-top: 5px;
}
.exploremore a{
	color: #586069;
}
.exploremore a:hover{
	color: #0366d6;
}

/*主内容main区*/
.lefttwo{
	width: 1020px;
	float: left;
	background-color: #fff;
}
main{
	float: right;
	width: 670px;
	background-color: #f6f8fa;
	border-left: 1px solid #DEE4FE;
	padding-left: 10px;
	padding-top: 20px;
	
}
.mainbehav{
	display: flex;
	flex-flow: column;
	align-self: baseline;
	margin-left: 15px;
}
.pbehav{
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin: 15px 0;
	
	padding-bottom: 15px;

	border-bottom: 1px solid #c6cbd1;
}
.pbehav .avataricon img{
	display: inline-block;
	border-radius: 3px;
	width: 32px;
	height: 32px;
}
.shortact{
	font-size: 14px;
	display: flex;
	padding-top: 4px;
	/*margin-bottom: 10px;*/
	height: 32px;
}

.shortact span.dated{
	font-size: 12px;
	color: #6a737d;
	display: inline-block;
	margin-left: 3px;
	padding-top: 2px;
}
.shortact a{
	color: black;
	font-weight: 600;
	margin-right: 3px;
	margin-left: 3px;
}
.shortact a:hover{
	color:#0366d6;
}
.shortact a:first-child{
	margin-left: 0;
}
/*repo*/
.reposhort{
	background-color: #fff;
	border: 1px solid #c6cbd1;
	border-radius: 4px;
	padding: 15px 15px 15px 15px;
}
.shorttop{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shorttop span{
	font-weight: 600;
	color: #000000;
}
.shorttop span:hover{
	color: #0366d6;
}
.shorttop button{
	display: flex;
	align-items: flex-end;
	padding: 5px 8px 5px 5px;
	border-radius: 3px;
	border: 1px solid #c6cbd1;
	background-color: #f6f8fa;
}
.shorttop button:hover{
	background-color: #e6ebf1;
}
.shorttop button span{
	font-size: 12px;
	color: #24292e;
	font-weight: 600;
}
.shorttop button:hover span{
	color: #24292e;
}
.shorttop button .kiwi{
	fill: #24292e;
}
.repotell{
	color: #586069;
	margin-right: 80px;
}
.reporelate{
	display: flex;
	font-size: 12px;
	color: #586069;
	justify-content: space-between;
	width: 350px;
	margin-top: 10px;
}
.tsicon{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #2b7489;
	margin-right: 3px;
}
.reporelate a{
	color: #586069;
}
.issuehelp:hover a{
	color: #0366d6;
}
.startotallink{
	display: flex;
	align-items: center;
}
.startotal .kiwi{
	fill: currentColor;
}
.startotal span{
	margin-left: 3px;
}
.startotal:hover .kiwi,.startotal:hover a{
	color: #0366d6;
	fill: #0366d6;
}
/*主内容区下部*/
.activityfeed{
	font-size: 12px;
	color: #586069;
	margin-bottom: 40px;
}
.activityfeed div a{
	color: #0366d6;
}
.activityfeed div svg{
	margin-right: 3px;
}
.activityfeed span{
	display: inline-block;
	margin-top: 10px;
}
.activityfeed span a{
	color: #586069;
}
.activityfeed span:hover a{
	color: #0366d6;
	text-decoration: underline;
}
.activityfeed span a svg{
	margin-right: 5px;
}
.morebt{
	width: 100%;
	background-color: #fff;
	border: 1px solid #c6cbd1;
	color: #0366d6;
	font-weight: 600;
	height: 35px;
	margin-bottom: 20px;
	border-radius: 3px;
	margin-top: 8px;
}
.morebt:hover{
	background-color:#f6f8fa;
	box-shadow: none;
}



/*页脚*/
.bticon{
	display: flex;
	align-items: center;
	height: 24px;
	width: 230px;
}
.homeicon svg{  /**/
	margin-right: 4px;
	width: 30px;
	height: 30px;
}
.homeicon svg .kiwi{
	fill: #c6cbd1;
}
.homeicon svg:hover .kiwi{
	fill: #6a737d;
}
.btlists a,.homeicon a{
	color: #586069;
	font-size: 12px;
}
.btlists a:hover{
	color: #0366d6;
}
footer{
	display: flex;
	justify-content: space-between;
	width: 550px;
}
