/* reset browser styles */
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* end reset browser styles */
body{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
/*去除默认样式*/
a{
    text-decoration: none;
}

/*顶部导航栏样式*/
header{
	background-color: #24292e;
	display: flex;
	
	width: 100%;
	padding: 10px;
}
.headleft{
	display: flex;
	margin-right: auto;
}
.headright{
	display: flex;
	align-items: center;
}

/*svg GitHub logo*/
.kiwi{
	stroke:none;
	fill-rule:evenodd;
	fill:rgb(100%,100%,100%);
	fill-opacity:1;
}
a:hover .kiwi{
	fill:rgb(80%,80%,80%);
}
/*顶部搜索框*/
.topsearch{
	background-color: hsla(0,0%,100%,.125);
	width: 300px;
	height: 60%;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	padding: 4px 6px;
	/*属性横向居中？*/
	align-self: center;
	margin-left: 8px;
}
input[type="search"]{
	background-color: transparent;
	border: none;
	outline: none;
	width: 288px;
	
}
/*去掉输入框默认的×*/
input[type="search"]::-webkit-search-cancel-button{
	-webkit-appearance: none;
}

/*顶部导航菜单*/
.navtop{
	display: flex;
	padding: 3px;
	align-self: center;
	margin-left: 10px;
}
.navtop a{
	color: #ffffff;
	font-size: 0.85em;
	font-weight: 600;
}
.navtop a:hover{
	color: rgb(80%,80%,80%);
}
.navtop li{
	margin-right: 7px;
}

/*顶部右侧菜单*/
.notif{
	margin-right: 14px;
	
}
.rightsvg{
	fill: #ffffff;
}
.rightsvg:hover{
	fill: rgb(80%,80%,80%);
}

.avatar{
	height: 20px;
	width: 20px;
	border-radius: 2px;
	border: 1px;
}
.tribottom{
	height: 0px;
	width: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffffff;
}
.repomenu:hover .tribottom,.selfinfo:hover .tribottom{
	border-top: 5px solid rgb(80%,80%,80%);
}
.repomenu:hover .rightsvg{
	fill: rgb(80%,80%,80%);
}
.repomenu{
	margin-right: 14px;
	display: flex;
	
}
.selfinfo{
	display: flex;
}
span.tribottom{
	align-self: center;
	margin-left: 4px;
	margin-top: 2px;
}



/*左侧边栏*/
.leftaside{
	padding: 25px;
	padding-top: 30px;
	border-right: 1px solid #DEE4FE;
	height: auto;
}
/*上半部分*/
.selfrepo{
	display: flex;
	flex-flow: column;
	border-bottom: 1px solid #DEE4FE;
	/*height: 300px;*/
}
.leftaside{
	width: 350px;
}
.repotop{
	display: flex;
	justify-content: space-between;
	margin-bottom: 9px;
}
.repotop span{
	font-size: 14px;
	font-weight: 600;
	align-self: center;
}
.leftaside{
	float: left;
	position: fixed;
}
.newbutton{
	border-radius: 4px;
	background-color: #28a745;
	width: 63px;
	height: 28px;
	box-sizing: border-box;
	border: 1px solid transparent;
	padding-left: 2px;
}
.newbutton a{
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-left: 8px;
	box-sizing: border-box;
}
.newbutton span{
	color: #fff!important;
	margin-left: 4px;
	font-size: 12px;
	box-sizing: border-box;
}
.newbutton path{
	fill: #fff!important;
}
.newbutton:hover {
	border:  1px solid #0366d6;
	background-color: #28a745;
	background-image: (-180deg,#34d058,#28a745 90%);
	border: 1px solid rgba(27,31,35,.2);
}
/*搜索框*/
.reposearch{
	width: auto;
	height: 30px;
	border: 1px solid #d1d5da;
	font-size: 14px;
	color: #d1d5da;
	margin-bottom: 20px;
	border-radius: 3px;
	padding: 5px;
	font-weight: lighter;
}
.reposearch:focus{
	/*box-shadow: 0 0 2px 1px blue;*/
	box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}
/*仓库列表*/
.repolists,.repolists li{
	width: auto;
	margin-left: 0;
	padding-left: 0;
}
.repolists li{
	padding-bottom: 15px;

}
.repolists li:last-child{
	padding-bottom: 25px;
}
.repolists a{
	display: flex;
	
}
.repolists span{
	color: #0366d6;
	font-size: 14px;
	font-weight: 600;
}
.repolists svg{
	margin-right: 6px;
}
.repolists li:hover span{
	/*border-bottom: 1px solid blue;*/
	
	text-decoration: underline solid #0366d6;
}

/*下半边ads*/
.ads{
	display: flex;
	flex-flow: column;
}
.ads p{
	margin-top: 20px;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
}
.ads span{
	margin-bottom: 10px;
}
.ads .adsbutton{
	border: 1px solid #d1d5da;
	border-radius: 3px;
	width: 50%;
	
	font-size: 13px;
	font-weight: 600;
	padding: 5px;
}
.adsbutton span{
	color: #0366d6;
}
.ads a:hover span{
	color: #ffffff;
}
.ads a:hover{
	background-color: #0366d6;
}